body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #00FFFF, #FDE910);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    display: flex;
}

p{
    margin: 0 20px;
    padding: 10px;
    border: 2px dotted #E30B5C;
    border-radius: 5px;
    font-size: 2rem;
}